[submodule "buildable_projects/CyberChef"]
	path = buildable_projects/CyberChef
	url = https://github.com/gchq/CyberChef.git
[submodule "executables_and_scripts/PSRecon"]
	path = executables_and_scripts/PSRecon
	url = https://github.com/gfoss/PSRecon.git
